{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        <h1>Image Upload</h1>

        <!-- Add link -->
        <a href="#" id="add-button" class="ui primary button">Ajouter une image</a>

        {% if not form.vars.valid %}
            {% include 'form_theme/global-error.html.twig' %}
        {% endif %}

        <!-- Uploaded images -->
        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th class="collapsing">Preview</th>
                    <th>Nom</th>
                    <th>Infos</th>
                    <th class="collapsing center aligned">Actions</th>
                </tr>
            </thead>
            <tbody>
            <!-- Images -->
            {% for image in images %}
                <tr>
                    <!-- Thumbnail -->
                    <td class="collapsing">
                        <a href="{{ image.src }}" target="_blank">
                            <img src="{{ image.thumbnail }}" alt="{{ image.alt }}">
                        </a>
                    </td>

                    <!-- Image name&alt -->
                    <td>
                        <h4>{{ image.name }}</h4>
                        <em>{{ image.alt }}</em>
                    </td>

                    <!-- Image Infos -->
                    <td class="collapsing">{% include 'image/_image_infos.html.twig' %}</td>

                    <!-- Action buttons -->
                    <td class="action-buttons collapsing">
                        <!-- Delete action -->
                        <form action="/delete/image/{{ image.id }}">
                            <button type="submit" class="ui red icon button">
                                <i class="ui icon trash"></i>
                            </button>
                        </form>

                        <!-- Edit Action -->
                        <form action="/edit/image/{{ image.id }}">
                            <button class="ui green icon button">
                                <i class="ui icon edit"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Page Dimmer -->
    <div class="ui page dimmer">
        <div id="new-image-dimmer" class="ui left aligned segment">
            <!-- Close button -->
            <i id="close-button" class="ui big window close red icon"></i>

            <!-- Errors -->
            {% if not form.vars.valid %}
                {% include 'form_theme/dimmer-error.html.twig' %}
            {% endif %}

            <!-- Form -->
            {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
                <!-- Name -->
                <div class="field">
                    {{ form_row(form.name) }}
                </div>

                <!-- Description -->
                <div class="field">
                    {{ form_row(form.alt) }}
                </div>

                <!-- File -->
                <div class="field">
                    {{ form_row(form.file) }}
                </div>

                <!-- Submit -->
                {{ form_row(form.submit, {'attr': {'class': 'ui fluid green submit button'}}) }}

                <!-- Hidden fields -->
                {{ form_row(form.slug) }}
                {{ form_row(form._token) }}
            {{ form_end(form) }}
        </div>

        <!-- Loader -->
        <div id="loader" class="ui dimmer">
            <div class="ui text loader">Upload en cours</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/form-dimmer.js"></script>
{% endblock %}
