{% macro itemsCollection(itemForm) %}
    <section id="browse-collection" class="ui top attached segment">
        <!-- Close button -->
        <i id="close-button" class="ui big window close red icon"></i>

        <!-- Header -->
        <h1 class="ui header">Médias uploadés</h1>

        <!-- Parent div -->
        <section id="item-dimmer" class="ui four cards">
            {% for media in itemForm.media %}
                <!-- Get entity attrs -->
                {% set index = media.vars.value %}
                {% set entity = itemForm.media.vars.choices[index].data %}

                <!-- Media Item -->
                <div class="ui card gallery-item">
                    <!-- Image -->
                    <div class="image" style="background-image: url('{{ entity.thumbnail }}');"></div>

                    <!-- Title & Icon -->
                    <div class="content">
                        <h5 class="header">
                            <i class="{{ entity.iconClass }}"></i>
                            {{ entity.name }}
                        </h5>
                    </div>

                    <!-- Form to include -->
                    <div class="media-form"
                         src="{{ entity.thumbnail }}"
                         icon="{{ entity.iconClass }}"src
                         name="{{ entity.name }}">

                        <!-- Option inputs -->
                        {{ form_row(media) }}

                        <!-- Position input -->
                        <input type="text"
                               id="gallery_items___name___position"
                               name="gallery[items][__name__][position]"
                               class="item-position"
                               required="required" />

                        <!-- Up/Down/Delete -->
                        <p>
                            <a href="#" class="ui icon button up"><i class="ui arrow up icon"></i></a>
                            <a href="#" class="ui icon button down"><i class="ui arrow down icon"></i></a>
                            <a href="#" class="ui red icon button delete"><i class="ui trash icon"></i></a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
{% endmacro %}