{% macro itemsCollection(itemForm) %}
    <h3 class="ui inverted header">Choisir un média</h3>
    <!-- Parent div -->
    <section id="item-dimmer" class="ui six stackable cards">
        {% for media in itemForm.media %}
            <!-- Get entity attrs -->
            {% set index = media.vars.value %}
            {% set entity = itemForm.media.vars.choices[index].data %}

            <!-- Define image src -->
            {% if entity.embedSrc is defined %}
                {% set src = entity.coverImage %}
                {% set icon = 'ui video icon' %}
            {% elseif entity.thumbSrc is defined %}
                {% set src = entity.thumbSrc %}
                {% set icon = 'ui camera icon' %}
            {% endif %}

            <!-- Media Item -->
            <div class="ui fluid card gallery-item">
                <!-- Image -->
                <div class="image" style="background-image: url('{{ src }}');"></div>

                <!-- Title & Icon -->
                <div class="content">
                    <h5 class="header">
                        <i class="{{ icon }}"></i>
                        {{ entity.name }}
                    </h5>
                </div>

                <!-- Form to include -->
                <div class="media-form"
                     src="{{ src }}"
                     icon="{{ icon }}"
                     name="{{ entity.name }}">

                    <!-- Option inputs -->
                    {{ form_row(media) }}

                    <!-- Position input -->
                    <input type="text"
                           id="gallery_items___name___position"
                           name="gallery[items][__name__][position]"
                           class="item-position"
                           required="required" />

                    <!-- Up/Down/Delete -->
                    <a href="#" class="up">Up</a>
                    <a href="#" class="down">Down</a>
                    <a href="#" class="delete">Delete</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endmacro %}