{% macro newItemCollection(imageForm) %}
    <section id="new-image-dimmer" class="ui left aligned segment">
        <!-- Title -->
        <h3 class="ui header">Nouvel upload</h3>

        <!-- Errors -->
        <p class="form-errors"></p>

        <!-- Upload form -->
        {{ form_start(imageForm, {'attr': {'class': 'ui form'}}) }}
            <div class="field">
                {{ form_label(imageForm.name) }}
                {{ form_widget(imageForm.name) }}
            </div>
            <div class="field">
                {{ form_label(imageForm.alt) }}
                {{ form_widget(imageForm.alt) }}
            </div>
            <div class="field">
                {{ form_label(imageForm.file) }}
                {{ form_widget(imageForm.file) }}
            </div>
            {{ form_row(imageForm.submit, {'attr': {'class': 'ui fluid green submit button'}}) }}
        {{ form_end(imageForm) }}

        <!-- Loader -->
        <div class="ui dimmer">
            <div class="ui text loader">Upload en cours</div>
        </div>

        <!-- Form block for tableRowAppend -->
        {% include 'form_theme/gallery/new-item.html.twig' %}
    </section>
{% endmacro %}