{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        <h1>Éditer {{ vid.name }} - Vidéo {{ vid.type|capitalize }}</h1>

        <!-- All images button -->
        <a class="ui primary button" href="/add/{{ type|lower }}">Toutes les vidéos {{ type }}</a>

        <h4>Vidéo</h4>
        <iframe width="400" height="220"
                src="{{ vid.src }}">
        </iframe>

        <h4>Form</h4>
        <!-- Form -->
        {% form_theme form 'form_table_layout.html.twig' %}
        {{ form(form) }}

    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
