{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        <div class="ui clearing basic segment">
            <h1 class="ui left floated header">
                Ajouter une galerie
            </h1>
            <!-- Submit -->
            {{ form_row(form.submit, {'attr': {'class': 'ui right floated green submit button'}}) }}
        </div>

        <!-- Form -->
        {{ form_start(form, {'attr': {'class': 'ui form', 'action': '/add/gallery'}}) }}

            <div id="add-media-buttons" class="ui field">
            </div>

            <!-- Title -->
            <div class="ui field">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            {% import 'form_theme/gallery/item-protoype.html.twig' as itemMacro %}
            <p id="gallery_items"
                class="media-item-parent"
                data-prototype="{{ itemMacro.itemsCollection(form.items.vars.prototype)|e('html_attr') }}">
            </p>

            {% import 'form_theme/gallery/new-image-protoype.html.twig' as imageMacro %}
            <p class="media-new-image-parent"
                class="image-item-parent"
                data-prototype="{{ imageMacro.newItemCollection(imageForm)|e('html_attr') }}">
            </p>

            {% import 'form_theme/gallery/new-distant-protoype.html.twig' as distantMacro %}
            <p class="media-new-distant-parent"
                class="youtube-item-parent"
                data-prototype="{{ distantMacro.newItemCollection(distantForm)|e('html_attr') }}">
            </p>

            <!-- Added medias -->
            <h4>Médias</h4>
            <table id="gallery-medias" class="ui celled striped table">
                <thead>
                <tr>
                    <th class="collapsing">Aperçu</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        <!-- Simulate render of form.items & form.newItems -->
        {% do form.items.setRendered() %}
        {% do form.newItems.setRendered() %}

        {{ form_end(form) }}

    </section>

    <div class="ui page dimmer">
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="/js/gallery/collection-functions.js"></script>
    <script src="/js/gallery/browse-collection.js"></script>
    <script src="/js/gallery/new-item-collection.js"></script>

    <!-- Checkbox toggle -->
    <script src="/js/gallery/toggleCheckbox.js"></script>
{% endblock %}
