{% extends 'base.html.twig' %}

{% macro itemsCollection(itemForm) %}
    <h3 class="ui inverted header">Choisir un média</h3>
    <!-- Parent div -->
    <section id="item-dimmer" class="ui six stackable cards">
        {% for media in itemForm.media %}
            <!-- Get entity attrs -->
            {% set index = media.vars.value %}
            {% set entity = itemForm.media.vars.choices[index].data %}

            <!-- Define image src -->
            {% if entity.embedSrc is defined %}
                {% set src = entity.coverImage %}
                {% set icon = 'ui video icon' %}
            {% elseif entity.thumbSrc is defined %}
                {% set src = entity.thumbSrc %}
                {% set icon = 'ui camera icon' %}
            {% endif %}

            <!-- Media Item -->
            <div class="ui fluid card gallery-item">
                <!-- Image -->
                <div class="image" style="background-image: url('{{ src }}');"></div>

                <!-- Title & Icon -->
                <div class="content">
                    <h5 class="header">
                        <i class="{{ icon }}"></i>
                        {{ entity.name }}
                    </h5>
                </div>

                <!-- Form to include -->
                <div class="media-form"
                src="{{ src }}"
                icon="{{ icon }}"
                name="{{ entity.name }}">
                    <!-- Option input -->
                    {{ form_row(media) }}
                    {#<!-- Position input -->#}
                    <input type="text" id="gallery_items___name___position" name="gallery[items][__name__][position]" class="pos-input" required="required" />
                    <a href="#" class="up">Up</a>
                    <a href="#" class="down">Down</a>
                    <a href="#" class="delete">Delete</a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endmacro %}

{% block body %}
    <section class="ui basic segment">
        <h1>Ajouter une galerie</h1>

        <!-- Image Form -->
        <h4>Image</h4>
        {{ form_start(imageForm, {'attr': {'class': 'ui form'}}) }}
        {{ form_widget(imageForm) }}
        {{ form_end(imageForm) }}

        <!-- Form -->
        {{ form_start(form, {'attr': {'class': 'ui form', 'action': '/add/gallery'}}) }}

            <!-- Title -->
            <div class="ui field">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            {% import _self as formMacros %}
            <ul id="gallery_items" class="media-item-test" data-prototype="{{ formMacros.itemsCollection(form.items.vars.prototype)|e('html_attr') }}">
                <li>
                </li>
            </ul>

            <!-- Added medias -->
            <h4>Médias</h4>
            <table class="ui celled striped table">
                <thead>
                <tr>
                    <th class="collapsing">Preview</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        <!-- Simulate render of form.items -->
        {% do form.items.setRendered() %}

        <!-- Submit -->
        {{ form_row(form.submit, {'attr': {'class': 'ui submit button'}}) }}

        {{ form_end(form) }}

    </section>

    <div class="ui page dimmer">
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <!-- Symfony collection -->
    <script>
        // ImageForm
        $('#image_Uploader').click(function(e){
            e.preventDefault();

            // Get Form data
            var data = new FormData();
            data.append('image[name]',   $('#image_name').val());
            data.append('image[alt]',    $('#image_alt').val());
            data.append('image[file]',  $('#image_file').prop('files')[0]);
            data.append('image[_token]', $('#image__token').val());
            //
            // // Ajax request
            $.ajax({
                method: "POST",
                url: "/add/image/ajax",
                data: data,
                processData: false,
                contentType: false,
                success: function(text) {
                    console.log(text)
                }
            });
        })

        // Inquire position fields at submit
        $('.submit').click(function(e){
            var i = 1;
            var rows = $('tbody').find('tr');
            rows.each(function(){
                var position = $(this).find('.pos-input');
                position.attr('value', i);
                i++;
            })
        })


        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Get prototype
            var newForm = prototype;

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Clear dimmer
            $('.ui.page.dimmer').empty();

            // Append form in dimmer
            $('.ui.page.dimmer').append(newForm);

            // Show dimmer
            $('.ui.page.dimmer').dimmer('show');

            // Add event on click
            $('.gallery-item').click(function(e){
                // Get data from clicked item
                var form = $(this).children('.media-form');
                var src = $(this).children('.media-form').attr('src');
                var name = $(this).children('.media-form').attr('name');
                var icon = $(this).children('.media-form').attr('icon');

                // Check form option
                form.find('input[type="radio"]').attr('checked', true);
                // Up button
                form.find(".up").click(function () {
                    e.preventDefault();
                    var row = $(this).parents("tr:first");
                    row.insertBefore(row.prev());
                });
                // Down button
                form.find(".down").click(function () {
                    e.preventDefault();
                    var row = $(this).parents("tr:first");
                    row.insertAfter(row.next());
                });
                // Delete button
                form.find('.delete').click(function(){
                    e.preventDefault();
                    var row = $(this).parents("tr:first");
                    row.remove();
                });


                // Create elements of new line
                var line = $('<tr class="media-form-row"></tr>');
                var preview = $('<td class="collapsing"><img class="ui small image" src="' + src + '"></td>');
                var name = $('<td><i class="' + icon + '"></i>' + name + '</td>');
                var actions = $('<td></td>');
                actions.append(form);

                // Append columns to row
                line.append(preview);
                line.append(name);
                line.append(actions)

                // Append new row to table
                $('table').append(line);

                // Hide dimmer
                $('.ui.page.dimmer').dimmer('hide');
            });
        }

        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="" class="ui green icon button add_tag_link"><i class="ui plus icon"></i></a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('.media-item-test');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
    </script>

    <!-- Checkbox toggle -->
    <script src="/js/gallery/toggleCheckbox.js"></script>
{% endblock %}
