{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        <h1>Ajouter une galerie</h1>

        <!-- Form -->
        {{ form_start(form, {'attr': {'class': 'ui form', 'action': '/add/gallery'}}) }}

            <!-- Title -->
            <div class="ui field">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            {% import 'form_theme/gallery/item-protoype.html.twig' as itemMacro %}
            <ul id="gallery_items"
                class="media-item-parent"
                data-prototype="{{ itemMacro.itemsCollection(form.items.vars.prototype)|e('html_attr') }}">
            </ul>

            {% import 'form_theme/gallery/new-image-protoype.html.twig' as imageMacro %}
            <ul class="media-newitem-parent"
                class="image-item-parent"
                data-prototype="{{ imageMacro.newItemCollection(imageForm ,form.newItems.vars.prototype)|e('html_attr') }}">
            </ul>

            <!-- Added medias -->
            <h4>Médias</h4>
            <table class="ui celled striped table">
                <thead>
                <tr>
                    <th class="collapsing">Preview</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        <!-- Simulate render of form.items -->
        {% do form.items.setRendered() %}

        <!-- Submit -->
        {{ form_row(form.submit, {'attr': {'class': 'ui submit button'}}) }}

        {{ form_end(form) }}

    </section>

    <!-- Image Form -->
    <div id="new-image-form" style="display: none;">
        {{ form_start(imageForm, {'attr': {'class': 'ui form'}}) }}
        {{ form_widget(imageForm) }}
        {{ form_end(imageForm) }}
    </div>

    <div class="ui page dimmer">
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="/js/gallery/collection-functions.js"></script>
    <script src="/js/gallery/collection.js"></script>
    <script src="/js/gallery/collection2.js"></script>

    <!-- Checkbox toggle -->
    <script src="/js/gallery/toggleCheckbox.js"></script>
{% endblock %}
