{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        <div class="ui clearing basic segment">
            <h1 class="ui left floated header">
                {% if form.vars.value.title is not null %}
                    Modifier "{{ form.vars.value.title }}"
                {% else %}
                    Ajouter une galerie
                {% endif %}
            </h1>
        </div>

        <!-- Form -->
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
            <!-- Submit -->
            {{ form_row(form.submit, {'attr': {'class': 'ui right floated green submit button'}}) }}

            <!-- Title -->
            <div class="ui field">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            <!-- Add buttons -->
            <div id="add-media-buttons" class="ui field">
            </div>

            <!-- Browse proto -->
            {% import 'form_theme/gallery/item-protoype.html.twig' as itemMacro %}
            <p id="gallery_items"
                class="media-item-parent"
                data-prototype="{{ itemMacro.itemsCollection(form.items.vars.prototype)|e('html_attr') }}">
            </p>

            <!-- Image proto -->
            {% import 'form_theme/gallery/new-image-protoype.html.twig' as imageMacro %}
            <p class="media-new-image-parent"
                class="image-item-parent"
                data-prototype="{{ imageMacro.newItemCollection(imageForm)|e('html_attr') }}">
            </p>

            <!-- Distant proto -->
            {% import 'form_theme/gallery/new-distant-protoype.html.twig' as distantMacro %}
            <p class="media-new-distant-parent"
                class="youtube-item-parent"
                data-prototype="{{ distantMacro.newItemCollection(distantForm)|e('html_attr') }}">
            </p>

            <!-- Added medias -->
            <h4>Médias</h4>
            <table id="gallery-medias" class="ui celled striped table">
                <thead>
                <tr>
                    <th class="collapsing">Aperçu</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in form.items %}
                        <!-- Get entity attrs -->
                        {% set index = item.vars.value.media.id %}
                        {% set entity = item.media.vars.choices[index].data %}

                        <!-- Define image src -->
                        {% if entity.embedSrc is defined %}
                            {% set src = entity.coverImage %}
                            {% set icon = 'ui video icon' %}
                        {% elseif entity.thumbSrc is defined %}
                            {% set src = entity.thumbSrc %}
                            {% set icon = 'ui camera icon' %}
                        {% endif %}

                        <tr>
                            <td>
                                <img class="ui small image" src="{{ src }}">
                            </td>
                            <td>
                                <i class="{{ icon }}"></i>{{ entity.name }}
                            </td>
                            <td class="existent-item-form collapsing">
                                <div class="hidden-form">
                                    {{ form_widget(item.media) }}
                                    {{ form_widget(item.position, {'attr': {'class': 'item-position'}}) }}
                                </div>
                                <p>
                                    <a href="#" onclick="rowToUp($(this), event)" class="ui icon button up">
                                        <i class="ui arrow up icon"></i>
                                    </a>
                                    <a href="#" onclick="rowToDown($(this), event)" class="ui icon button down">
                                        <i class="ui arrow down icon"></i>
                                    </a>
                                    <a href="#" onclick="rowDeletion($(this), event)" class="ui red icon button delete">
                                        <i class="ui trash icon"></i>
                                    </a>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Simulate render of form.items & form.newItems -->
            {% do form.items.setRendered() %}
            {% do form.newItems.setRendered() %}

        {{ form_end(form) }}

    </section>

    <div class="ui page dimmer">
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="/js/gallery/collection-functions.js"></script>
    <script src="/js/gallery/browse-collection.js"></script>
    <script src="/js/gallery/new-item-collection.js"></script>

    <!-- Checkbox toggle -->
    <script src="/js/gallery/toggleCheckbox.js"></script>
{% endblock %}
