{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        <h1>Vimeo Upload</h1>

        <!-- Form -->
        {% form_theme form 'form_table_layout.html.twig' %}
        {{ form(form) }}

        <!-- Uploaded images -->
        <table class="ui celled striped table">
            <thead>
            <tr>
                <th>Preview</th>
                <th>Nom</th>
                <th>Infos</th>
            </tr>
            </thead>
            <tbody>
            {% for vid in vids %}
                <tr>
                    <td class="collapsing">
                        <a href="{{ vid.url }}" target="_blank">
                            <img class="ui small image" src="{{ vid.coverImage }}" alt="Cover of {{ vid.name }}">
                        </a>
                        <form action="/delete/vimeo/{{ vid.id }}" style="float: left">
                            <button type="submit" class="ui red icon button">
                                <i class="ui icon trash"></i>
                            </button>
                        </form>
                        <form action="/edit/vimeo/{{ vid.id }}">
                            <button class="ui green icon button">
                                <i class="ui icon edit"></i>
                            </button>
                        </form>
                    </td>
                    <td>{{ vid.name }}</td>
                    <td>Créé le: {{ vid.createAt|date }}<br/>
                        Type de fichier: Vidéo Dailymotion<br/>
                        Code: {{ vid.code }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
