{% extends 'base.html.twig' %}

{% block body %}
    <section class="ui basic segment">
        <h1>Vidéos Youtube</h1>

        <!-- Add link -->
        <a href="#" id="add-button" class="ui primary button">Ajouter une vidéo</a>

        <!-- Uploaded images -->
        <table class="ui celled striped table">
            <thead>
            <tr>
                <th class="collapsing">Preview</th>
                <th>Nom</th>
                <th>Infos</th>
                <th class="collapsing center aligned">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for vid in vids %}
                <tr>
                    <!-- Thumbnail -->
                    <td class="collapsing">
                        <a href="{{ vid.url }}" target="_blank">
                            <img class="ui small image" src="{{ vid.coverImage }}" alt="Cover of {{ vid.name }}">
                        </a>
                    </td>

                    <!-- Name -->
                    <td>{{ vid.name }}</td>

                    <!-- Infos -->
                    <td class="collapsing"><strong>Créé le</strong>: {{ vid.createAt|date }}<br/>
                        <strong>Type de fichier</strong>: Vidéo Youtube<br/>
                        <strong>Code vidéo</strong>: {{ vid.code }}
                    </td>

                    <!-- Action buttons -->
                    <td class="action-buttons collapsing">
                        <!-- Delete Action -->
                        <form action="/delete/youtube/{{ vid.id }}">
                            <button type="submit" class="ui red icon button">
                                <i class="ui icon trash"></i>
                            </button>
                        </form>

                        <!-- Edit Action -->
                        <form action="/edit/youtube/{{ vid.id }}">
                            <button class="ui green icon button">
                                <i class="ui icon edit"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Dimmer form -->
    {% include 'distant/_form-dimmer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="/js/form-dimmer.js"></script>
{% endblock %}
